html {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  color: #888;
}

body {
  margin: 0;
}

h1 {
  font-weight: 400;
  color: #888;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  margin-bottom: 6px;
}

pre {
  white-space: pre-wrap;
  text-align: left;
}

:global {
  body {
    background-color: #fff !important;
  }

  .app {
    min-height: auto !important;
  }
}

