:global {

.avatar-checkbox-label {
  display: block;
  text-align: center;
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
}

.avatar-checkbox > .sb-avatar > .sb-avatar__text {
  background-color: #20a8d8 !important;
  color: #fff !important;
}

.avatar-checkbox.active > .sb-avatar > .sb-avatar__text {
  background-color: #4dbd74 !important;
  color: #fff !important;
}

.avatar-checkbox.disabled > .sb-avatar > .sb-avatar__text {
  background-color: #ccc !important;
  color: #fff !important;
}

.avatar-checkbox.disabled > .avatar-checkbox-label {
  color: #ccc;
}

.avatar-checkbox.active > .avatar-checkbox-label {
  color: #4dbd74;
}

.avatar-checkbox > .avatar-checkbox-label {
  color: #20a8d8;
}

.avatar-checkbox.active > .avatar-checked {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50em;
  color: #fff;
  background-color: #4dbd74;
}

.avatar-checkbox > .avatar-checked {
  display: none;
}

.avatar-checkbox.active > .avatar-checked > i,
.avatar-checkbox.disabled > .avatar-checked > i {
  font-size: 28px;
}

.avatar-checkbox.disabled.active > .avatar-checked {
  background-color: #8bd4a4;
}

.avatar-checkbox.disabled.active > .sb-avatar > .sb-avatar__text {
  background-color: #8bd4a4 !important;
}

.avatar-checkbox.active.disabled > .avatar-checkbox-label {
  color: #8bd4a4 !important;
}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: auto;
  max-width: 800px;
}

.scrolling-wrapper .swipe-card {
  display: inline-block;
  position: relative;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper-flexbox .swipe-card {
  flex: 0 0 auto;
  margin-right: 3px;
}

.scrolling-wrapper, .scrolling-wrapper-flexbox {
  height: 75px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar, .scrolling-wrapper-flexbox::-webkit-scrollbar {
  /* display: none; */
}

.scrolling-wrapper {
  -ms-overflow-style: none;
  margin-bottom: 30px;
  padding-bottom: 7px;
  max-height: 140px;
  min-height: 140px;

  /* overflow: -moz-scrollbars-none; */
}

.scrolling-wrapper .not-found {
  padding: 50px 0;
}

.scrolling-wrapper::-webkit-scrollbar {
  width: 4px;
  height: 3px;
  background: #ccc;
}

.scrolling-wrapper::-webkit-scrollbar:horizontal {
  height: 3px;

.scrolling-wrapper::-webkit-scrollbar:horizontal {
  height: 3px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb:horizontal {
  height: 14px;
  background: #20a8d8;
}

.scrolling-wrapper::-webkit-scrollbar-track:horizontal {
  /* -webkit-box-shadow: inset 0 0 6px #B6CAD1; */
  background-color: #f5f5f5;
}

/* .scrolling-wrapper::-webkit-scrollbar-thumb { */

/* !*-webkit-box-shadow: inset 0 0 6px #ccc;*! */

/* background-color: #555; */

/* } */

/* .scrolling-wrapper::-webkit-scrollbar-track { */

/* -webkit-box-shadow: inset 0 0 6px #ccc; */

/* background-color: #F5F5F5; */

/* } */
}

.scrolling-wrapper::-webkit-scrollbar-thumb:horizontal {
  height: 14px;
  background: #20a8d8;
}

.scrolling-wrapper::-webkit-scrollbar-track:horizontal {
  /* -webkit-box-shadow: inset 0 0 6px #B6CAD1; */
  background-color: #f5f5f5;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
  /* -webkit-box-shadow: inset 0 0 6px #ccc; */
  background-color: #555;
}

.scrolling-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ccc;
  background-color: #f5f5f5;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

}

