.loading {
  z-index: 9999;
  opacity: 1;
  transform-origin: left center 0px;
  transition: transform 800ms linear 0s;
  width: 100%;
  will-change: transform, opacity;
  height: 2px;
  background-color: #e62117;
  position: fixed;
}
.notif__container {
  z-index: 99999!important;
}

.notif__position__right {
  position: fixed;
  width: 320px !important;
  padding: 0px 10px 10px;
  z-index: 9998;
  box-sizing: border-box;
  height: auto;
  top: 0px !important;
  bottom: auto !important;
  left: auto !important;
  right: 0px !important;
}
.notif__position__bottom_right {
  font-family: inherit;
  position: fixed;
  width: 320px !important;
  padding: 0px 10px 10px;
  z-index: 9998;
  box-sizing: border-box;
  height: auto !important;
  top: auto !important;
  bottom: 0px !important;
  left: auto !important;
  right: 0px !important;
}
